// ACTIONS

// Okay: using string literals
dispatch({
  type: 'ADD_TODO',
  text: 'Build my first Redux app'
})

// Better: using constants
const ADD_TODO = 'ADD_TODO'

dispatch({
  type: ADD_TODO,
  text: 'Build my first Redux app'
})

// Good practice in large apps: importing
// actionTypes from an external file
import { ADD_TODO, SOME_ACTION, SOME_OTHER_ACTION }
from '../actionTypes'

dispatch({
  type: ADD_TODO,
  text: 'Build my first Redux app'
})

// or import all named exports under an object alias
import * as actionTypes from '../actionTypes'

dispatch({
  type: actionTypes.ADD_TODO,
  text: 'Build my first Redux app'
})

// Optional: use actionCreators (functions returning actions)
function addTodo(text) {
  return {
    type: ADD_TODO,
    text
  }
}
