// A BASIC REDUCER

import { VisibilityFilters } from './actions'

const initialState = {
  visibilityFilter: VisibilityFilters.SHOW_ALL,
  todos: []
}

const todoApp = (state = initialState, action) => {
  switch (action.type) {
    case SET_VISIBILITY_FILTER:
      // IMPORTANT: you create a new state object
      // & merge in the updates
      return Object.assign({}, state, {
        visibilityFilter: action.filter 
      })
    default:
      return state
  }
}
