// REAL WORLD ROOT REDUCER

import { combineReducers } from 'redux'
import { routerReducer } from 'react-router-redux'
import hub from './hub'
import sensitivityMap from './sensitivitymap'

// define individual app reducers here in reducers object
const reducers = {
  hub,
  sensitivityMap,
}

// combine reducers object with react-router reducer into one rootReducer
const rootReducer = combineReducers(Object.assign({}, reducers, {
  routing: routerReducer,
}))

// export rootReducer object containing all state transformations for the app
export default rootReducer
